<h1>Item Details</h1>

    <table>
        <tr>
            <td>Item Id</td>
            <td>{{book.id}}</td>
        </tr>
        <tr>
            <td>Item Name</td>
            <td>{{book.name}}</td>
        </tr>
        <tr>
            <td>Item Description</td>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <td>Item Price</td>
            <td>{{book.price}}</td>
        </tr>
    </table>
    <br>
    <img src="{{book.retrievedImage}}" height="200" width="200">
    <br><br>
    <a class="btn btn-small btn-warning" (click)="editBook()">edit</a>
    <a class="btn btn-small btn-danger" (click)="deleteBook()">delete</a>